# ─── MongoDB Atlas ────────────────────────────────────────────────────────────
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/mapyou?retryWrites=true&w=majority

# ─── Server ───────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── CORS ─────────────────────────────────────────────────────────────────────
EXTRA_ORIGINS=

# ─── VAPID (Push Notifications) ───────────────────────────────────────────────
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_EMAIL=admin@mapyou.app

# ─── Clooudinary ───────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Konto 2
CLOUDINARY_2_CLOUD_NAME=
CLOUDINARY_2_API_KEY=
CLOUDINARY_2_API_SECRET=

# Konto 3
CLOUDINARY_3_CLOUD_NAME=
CLOUDINARY_3_API_KEY=
CLOUDINARY_3_API_SECRET=
